<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auto Correct Keyboard</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <div class="container">
    <div class="card">

      <h1>Auto Correct Keyboard 🔥</h1>

      <input type="text" id="wordInput" placeholder="Type a word..." />

      <button id="correctBtn">Correct</button>

      <h2>Best Correction:</h2>
      <p id="bestCorrection">---</p>

      <h2>Top Suggestions:</h2>
      <ul id="suggestionsList"></ul>

    </div>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
